.DS_Store
.vscode
.Rproj.user
env/
venv/
__pycache__
.ipynb_checkpoints
.idea/
.github/workflows/verivox-de.yml
bots/crawl-rewe-de/crawl-rewe-test.py
bots/verivox-de/data/backup_2022/gasexporte-full.csv
bots/verivox-de/data/backup_2022/gasexporte.csv
bots/verivox-de/data/backup_2022/gasverbrauch-bereinigt-full.csv
bots/verivox-de/data/backup_2022/gasverbrauch-bereinigt.csv
bots/verivox-de/data/backup_2022/gasverbrauch-unbereinigt-full.csv
bots/verivox-de/data/backup_2022/gasverbrauch-unbereinigt.csv
bots/verivox-de/data/gas-strom-bundesschnitt-old.tsv
bots/verivox-de/data/strom-strom-bundesschnitt-2022-orig.csv
bots/verivox-de/data/gas-strom-bundesschnitt-2022-orig.csv
