.gitignore
.DS_Store
.vscode
.Rproj.user
env/
venv/
__pycache__
.ipynb_checkpoints
.idea/
.github/workflows/verivox-de.yml
bots/verivox-de/data/backup_2022/
bots/verivox-de/data/eex-power-stock-historical_2025.tsv
bots/verivox-de/data/smard_spot_historical.py
bots/verivox-de/data/smard_spot_historical_2025.tsv
bots/verivox-de/data/eex-power-stock-historical.py
bots/verivox-de/data/ttf-gas-stock-historical.py
bots/verivox-de/data/gas-storage-current.py
bots/verivox-de/data/gas-storage-current_2025.tsv
bots/verivox-de/data/ttf-gas-stock-historical_2025.tsv
bots/verivox-de/data/gas-strom-bundesschnitt-old.tsv
bots/verivox-de/data/strom-strom-bundesschnitt-2022-orig.csv
bots/verivox-de/data/gas-strom-bundesschnitt-2022-orig.csv
bots/verivox-de/imports-countries-test.py
bots/verivox-de/datawrapper/
bots/crawl-rewe-de/create-shop-file-local
bots/crawl-rewe-de/crawl-rewe-test.py
bots/crawl-rewe-de/crawl-rewe-prices-over-time.py
bots/crawl-rewe-de/data/products.csv
bots/verivox-de/private_key.pem
.github/workflows/crawl-rewe-de-local.yml
bots/crawl-rewe-de/crawl-rewe-local.py
bots/crawl-rewe-de/crawl-rewe-local-schweiz.py
bots/crawl-rewe-de/run-local.command
bots/crawl-rewe-de/ch.nzz.rewe.fetch.plist
bots/crawl-rewe-de/rewe-wrapper.sh
bots/crawl-rewe-de/WORKFLOW IN DER USER LIBRARY
bots/crawl-rewe-de/_README_FOR_LOCAL_RUN.txt
bots/crawl-rewe-de/data-schweiz/