appdirs==1.4.4
autopep8==1.5.6
beautifulsoup4==4.11.1
cachetools==4.2.4
datawrapper>=0.5.3
distlib==0.3.1
filelock==3.0.12
geopandas==1.0.1
numpy==1.26.4
oauthlib==3.1.1
pandas==1.4.2
pipenv==2020.11.15
pyasn1==0.4.8
pyasn1-modules==0.2.8
regex==2022.4.24
rsa==4.8
toml==0.10.2
urllib3==1.26.7
user-agent==0.1.10
virtualenv==20.4.3
virtualenv-clone==0.5.4
yfinance==0.2.44 # 0.2.45 buggy

# requirements for snowflake-connector-python
asn1crypto<2.0.0,>0.24.0
certifi==2020.12.5
charset-normalizer<3,>=2
cffi<2.0.0,>=1.9
cryptography==36.0.2
idna==3.3
oscrypto<2.0.0
pyarrow<8.1.0,>=8.0.0
pycparser
pycryptodomex!=3.5.0,<4.0.0,>=3.2
pyOpenSSL<23.0.0,>=16.2.0
python-dateutil>=2.8.1
pytz
pyjwt<3.0.0
setuptools>34.0.0
six>=1.5
snowflake-connector-python==2.7.11
typing-extensions<5,>=4.3
requests<3.0.0
requests-oauthlib<1.5.0
