appdirs==1.4.4
autopep8==1.5.6
certifi==2020.12.5
distlib==0.3.1
filelock==3.0.12
gspread==4.0.1
numpy==1.21.3
pandas==1.3.4
pipenv==2020.11.15
pycodestyle==2.7.0
python-dateutil==2.8.1
pytz==2021.1
six==1.15.0
toml==0.10.2
virtualenv==20.4.3
virtualenv-clone==0.5.4
