appdirs==1.4.4
autopep8==1.5.6
cachetools==4.2.4
datawrapper>=0.5.3
distlib==0.3.1
filelock==3.0.12
lxml==4.9.3
numpy==1.26.4
pandas==2.0.3
pipenv==2020.11.15
pyasn1==0.4.8
pyasn1-modules==0.2.8
regex==2022.4.24
requests<3.0.0
requests-oauthlib<1.5.0
rsa==4.8
scipy>=1.2.3
toml==0.10.2
urllib3==1.26.7
user-agent==0.1.10
virtualenv==20.4.3
virtualenv-clone==0.5.4
