appdirs==1.4.4
autopep8==1.5.6
certifi==2020.12.5
distlib==0.3.1
filelock==3.0.12
gspread==3.7.0
numpy==1.20.2
pandas==1.2.4
pipenv==2020.11.15
pycodestyle==2.7.0
python-dateutil==2.8.1
pytz==2021.1
six==1.15.0
toml==0.10.2
virtualenv==20.4.3
virtualenv-clone==0.5.4
yfinance==0.1.63
msoffcrypto-tool==5.0.0
requests_html==0.10.0
html-table-parser-python3==0.2.0
openpyxl==3.0.9
xlrd==1.2.0
fake_useragent==1.1.1
regex==2022.4.24
pycountry==22.3.5
python-gettext==4.0
deep-translator==1.8.3
pandas-datareader==0.10.0
